.tippy {
	&-tooltip {
		font-size: 17rem;
		background: #fff;
		color: $default;
		padding: 20rem;
		border: 1px solid #D2D2D7;
		border-radius: 10rem;
		transition-duration: .2s!important;

		&[x-placement="top"]{
			.tippy-roundarrow{
				bottom: -7.5px;

				&:after{
					bottom: auto;
					top: 0;
				}
			}
		}
	}
	&-roundarrow {
		fill: #fff;
		stroke: #D2D2D7;
		stroke-width: 1px;
		width: 18px;
		height: 7px;
		transform: scale(1.2, 1);
		svg {
			width: 100%;
		}
		&:after {
			content: '';
			background: #fff;
			width: 14px;
			height: 1px;
			display: block;
			position: absolute;
			left: 2px;
			bottom: 0;
		}
	}
}

.DropDown-enter-active {
	animation: drop-down 0.2s;
}

.DropDown-leave-active {
	animation: drop-down 0.2s reverse;
}

@keyframes drop-down {
  0% {
    transform: translateY(-10px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.collapse:not(.show) {
	display: none
}

.collapsing {
	position: relative;
	height: 0;
	overflow: hidden;
	transition: height .35s ease;
	// will-change: height;
}

.tippy-hide {
	display: none;
}

.modal-backdrop {
	background: rgba(6, 36, 57, 0.34);
	opacity: 1;
}

.modal-content {
	border-radius: 30rem;
	border: 0;
	display: block;
	padding: 60rem;

	@include small-tablet {
		padding: 40rem 30rem;
	}

	@include large-mobile {
		padding: 30rem 20rem;
		border-radius: 10rem 10rem 0 0;
	}
}

.modal {
	padding: 15rem;
    margin-right: -20px;

	&__close {
		position: absolute;
		right: 20rem;
		top: 20rem;
		z-index: 50;

		@include large-mobile {
			right: 15rem;
			top: 15rem;
		}
	}
}

.modal-header {
	border: 0;
	padding: 0;
	display: block;
}

.modal-body {
	padding: 0;
}

.modal-form {
	max-width: 740rem;
}

.modal-users {
	max-width: 954rem;
	.modal-content {
		padding-bottom: 0;
	}

	@include large-mobile {
		.modal-content {
			border-radius: 10rem 10rem 0 0;
		}
	}
}

.modal-thank-size {
	max-width: 608rem;
}

.modal-question-size {
	max-width: 720rem;
}

.modal-tariffs-size {
	max-width: 1063rem;
}

.modal-login-size {
	max-width: 500rem;
}

.modal-card-size {
	max-width: 1400rem;

	@include large-desktop {
		max-width: 1200rem;
	}
}

.modal-create-size {
	max-width: 900rem;
}

.modal-statistic-size {
	max-width: 773rem;
}

.modal-notification-size {
	max-width: 743rem;
}

.modal.fade .modal-dialog {
	transform: none;
	.modal-content {
		transform: translate(0, 50rem);
		opacity: 0;
		transition: ease-in-out .3s;
		transition-delay: .15s;
	}

	@include large-mobile {
		.modal-content {
			transform: translate(0, 30rem);
		}
	}
}

.modal.show .modal-dialog .modal-content {
	transform: translate(0, 0);
	opacity: 1;
}

.modal-dialog {
	@include large-mobile {
		align-items: flex-end;
		.modal-content {
			width: calc( 100% + 1px );
			margin-left: -1px;
		}
	}
}

.modal-faq {
	max-width: 954rem;

	@include large-mobile {
		.modal-content {
			border-radius: 15rem 15rem 0 0;
			padding: 30rem 15rem;
		}
	}
}