:root {
	--wrapper-offset: 40rem;

	@include large-tablet {
		--wrapper-offset: 20px;
		// 	--global-size: #{100/ (1120/0.7)}vw;
	}

	@include large-mobile {
		--wrapper-offset: 15rem;
	}
}

* {
	padding: 0;
	margin: 0;
	outline: none;
	box-sizing: border-box;
}

.wrap {
	padding: 0 var(--wrapper-offset);
	max-width: 1480rem;
	margin: auto;
	position: relative;

	@include large-desktop {
		max-width: 1280rem;
	}
}

html {
	font-size: #{div(100, div(1480, 1))}vw;

	&.js-lock {
		overflow: hidden;
		margin-right: 15px;
	}

	@include min-large-desktop {
		font-size: 1px;
	}

	@include large-tablet {
		font-size: 0.8px;

		&.js-lock {
			margin-right: 0;
		}
	}

	@include large-mobile {
		font-size: 1px;
	}

	@include small-mobile {
		font-size: #{div(100, div(375, 1))}vw;
	}
}

body {
	font-size: 14rem;
	line-height: 1.2;
	letter-spacing: -0.02em;
	font-family: 'Gilroy';
	color: $default;
	font-weight: 500;
	position: relative;

	@include large-mobile {
		font-size: 12rem;
	}
}

.container {
	min-height: 100vh;
	display: flex;
    flex-direction: column;
}

.main {
	width: 100%;
	flex: 1 0 auto;
}

input,
textarea {
	-webkit-appearance: none;
	appearance: none;
	-moz-appearance: none;
	color: inherit;
	font-family: inherit;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
}

button {
	font: inherit;
}

main {
	display: block;
}

a {
	color: inherit;
	text-decoration-skip-ink: none;
	text-decoration: none;
}

.inline {
	font-size: 0;

	& > * {
		display: inline-block;
		vertical-align: middle;
	}
}

.icon {
	width: 100%;
}

.clear {
	&:after {
		content: '';
		display: block;
		clear: both;
	}
	&__left {
		float: left;
	}
	&__right {
		float: right;
	}
}

.flex {
	display: flex;
	flex-wrap: wrap;

	&_center {
		justify-content: center;
	}

	&_inline {
		display: inline-flex;
	}

	&_justify {
		justify-content: space-between;
	}

	&_left {
		justify-content: flex-start;
	}

	&_right {
		justify-content: flex-end;
	}

	&_start {
		align-items: flex-start;
	}
	&_bottom {
		align-items: flex-end;
	}

	&_vertical {
		align-items: center;
	}
}

.css-text-left {
	text-align: left;
}

.css-text-center {
	text-align: center;
}

.css-text-right {
	text-align: right;
}

.row {
	display: table;
	width: 100%;

	&_fixed {
		table-layout: fixed;
	}

	& > * {
		display: table-cell;
		vertical-align: top;
	}
}

.fit-by-content {
	white-space: nowrap;
	width: 1%;
}

img,
svg {
	vertical-align: top;
	max-width: 100%;
}

.object-fit {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.absolute {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.css-scrollbar {
	overflow-y: auto;
	/* width */
	&::-webkit-scrollbar {
		width: 3px;
	}

	/* Track */
	&::-webkit-scrollbar-track {
		background: rgba(#c4c4c4, 0.4);
	}

	/* Handle */
	&::-webkit-scrollbar-thumb {
		background: gray;
	}

	/* Handle on hover */
	// &::-webkit-scrollbar-thumb:hover {
	// 	background: #555;
	// }
}

.color-gray {
	color: $gray;
}

.color-blue {
	color: $blue;
}

.color-red {
	color: #d31418;
}

.link {
	transition: ease .15s;
	font-weight: 600;
	display: inline-flex;
	&:hover {
		color: $blue;
	}
}