.modal-create {
	.modal-content {
		padding: 60rem 50rem;
	}

	.modal__close {
		right: 15rem;
		top: 15rem;
		&_footer {
			display: none;
		}
	}

	@include small-tablet {
		.modal-content {
			padding: 50rem 30rem;
		}
	}

	@include large-mobile {
		padding:0!important;
		.modal-content {
			border-radius: 10rem 10rem 0 0;
			padding: 25rem 15rem;
		}
		.modal__close {
			display: none;
			&_footer {
				display: flex;
			}
		}
	}

	&__title {
		@include large-mobile {
			font-size: 20rem;
		}
	}
	

	&__head {
		@include small-tablet {
			&-btn {
				margin-right: 20rem;
			}
		}
		@include large-mobile {
			display: block;
			&-btn {
				margin-right: 0;
				margin-top: 24rem;
			}
		}
	}

	&__search {
		display: flex;
		align-items: center;
		margin-top: 20rem;
		&-field {
			width: 100%;
			position: relative;
		}
		&-clear {
			position: absolute;
			right: 10rem;
			top: 50%;
			margin-top: -17rem;
		}
		&-btn {
			position: absolute;
			left: 19rem;
			top: 50%;
			margin-top: -8rem;
		}
		&-input {
			.input__field {
				padding-left: 49rem;
				padding-right: 40rem;
			}
		}
		&-cancel {
			padding: 15rem;
			margin-left: 10rem;
			cursor: pointer;
		}

		@include large-mobile {
			&-clear {
				margin-top: -14rem;
			}
			&-input {
				.input__field {
					padding-left: 39rem;
				}
			}
			&-btn {
				width: 14rem;
				height: 14rem;
				margin-top: -7rem;
				left: 15rem;
			}
			&-cancel {
				padding: 15rem 0;
				margin-left: 15rem;
				color: $blue;
			}
		}
	}

	&__categories {
		margin-top: 20rem;
		&-list {
			@include items(3, 5);
		}

		@include small-tablet {
			overflow-x: hidden;
			overflow-y: auto;
			max-height: 70vh;
			margin-right: -15rem;
			padding-right: 13rem;
			padding-bottom: 5rem;
			&::-webkit-scrollbar {
				width: 2px;
			}

			/* Track */
			&::-webkit-scrollbar-track {
				background: #E6E6E6;
			}

			/* Handle */
			&::-webkit-scrollbar-thumb {
				background: #B6B6B6;
			}
			&-list {
				@include items(2, 5);
			}
		}

		@include large-mobile {
			max-height: calc( 80vh - 200rem );
			margin-right: -8rem;
			padding-right: 6rem;
			margin-top: 10rem;
			&-list {
				margin: 0;
			}
			&-item {
				width: 100%;
				margin: 0;
				border-bottom: 1px solid $light-gray;
			}
			&-btn {
				padding: 10rem 0;
			}
		}
	}

	&__footer {
		padding: 0;
		border: 0;
		&-row {
			width: 100%;
			margin-top: 70rem;
		}
		&-btn {
			min-width: 156rem;
			&:not(:last-child) {
				margin-right: 24rem;
			}
		}

		@include large-mobile {
			&-row {
				margin-top: 30rem;
			}
			&-buttons {
				@include items(2, 5);
				width: calc( 100% + 10rem );
			}
			&-btn {
				min-width: inherit;
				&:not(:last-child) {
					margin-right: 5rem;
				}
			}
		}
	}

	&__cancel {
		display: none;
		margin-top: 27rem;
		color: $gray;

		&_desktop {
			display: inline-flex;
			margin-top: 0;
			min-width: 160rem;
		}

		@include large-mobile {
			display: flex;
			width: 100%;
			&_desktop {
				display: none;
			}
		}
	}
	&__breadcrumbs {
		margin-top: 15rem;
		line-height: 1;
		&-item {
			&:not(:first-child) {
				&:before {
					content: ' / '
				}
			}
		}
	}

	&__nav {
		margin-top: 20rem;

		@include large-mobile {
			&-btn {
				display: none;
			}
		}
	}

	&__form {
		margin: -10rem 0;

		@include small-tablet {
			margin: 0;
		}

		@include large-mobile {
			max-height: calc( 85vh - 100rem );
			overflow-x: hidden;
			overflow-y: auto;
			margin-right: -9rem;
			padding-right: 7rem;
			padding-top: 5rem;
			&::-webkit-scrollbar {
				width: 2px;
			}

			/* Track */
			&::-webkit-scrollbar-track {
				background: #E6E6E6;
			}

			/* Handle */
			&::-webkit-scrollbar-thumb {
				background: #B6B6B6;
			}
		}
	}
}